* {
  padding: 0;
  margin: 0;
  font-family: arial;
}

.center {
  position: relative;
  width: 810px;
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-fix {
  clear: both;
}

.hide {
  display: none;
}

.hide-cursor {
  cursor: none;
}

.head .title > h1 {
  padding: 20px 0 3px 0;
  color: #4d4d4d;
  /* font-size: 45px;
  font-weight: normal; */
  font: normal 45px;
}

.description {
  margin-bottom: 25px;
}

.description p {
  font-size: 17px;
  line-height: 29px;
  color: #454545;
  padding-top: 5px;
}

.description p:nth-child(1) {
  padding-top: 0;
}

.description .languages {
  margin: 5px 0 15px 0;
}

.description .languages a {
  font-weight: bolder;
}

a.content {
  text-decoration: none;
  color: #248aff;
  margin-right: 10px;
}

a.content :hover {
  color: #DD0000;
}

.foot {
  padding: 20px 0 15px 0;
  color: #707070;
  text-align: center;
  /* border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #e0e0e0; */
  border: 1px 0 0 0 solid #e0e0e0;
}

.tool {
  padding: 10px;
}

.palette {
  box-sizing: border-box;
}

.palette * {
  box-sizing: border-box;
}

.palette > .picker-color,
.palette > .picker-tone,
.palette > .info {
  float: left;
}

.palette > .picker-color,
.palette > .picker-tone,
.palette > .info > .color-disp-box,
.palette > .picker-alpha {
  overflow: hidden;
  border-radius: 5px;
}

.palette > .picker-color {
  position: relative;
  width: 520px;
  height: 520px;
  margin-right: 10px;
  border-top-left-radius: 0;
}

.palette > .picker-color-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  /* border-style: solid;
  border-color: #4f4f4f;
  border-width: 2px; */
  border: 2px solid #4f4f4f;
  border-radius: 100%;
}

.palette .picker-tone-cursor > .white-border,
.palette .picker-alpha-cursor > .white-border {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  /* border-style: solid;
  border-color: #fff;
  border-width: 2px; */
  border: 2px solid #fff;
  border-radius: 4px;
}

.palette .picker-color-cursor > .white-border {
  position: absolute;
  /* border-style: solid;
  border-color: #fff;
  border-width: 2px; */
  border: 2px solid #fff;
  border-radius: 100%;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom:-1px;
}

.palette .picker-color > .color-background {
  width: 100%;
  height: 100%;
}

.palette > .picker-tone {
  position: relative;
  width: 50px;
  height: 520px;
  margin-right: 10px;
}

.palette .box-picker-tone-cursor {
  position: absolute;
  width: 49px;
  height: 9px;
}

.palette .picker-tone-cursor {
  position: absolute;
  left: -2px;
  width: 54px;
  height: 9px;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
}

.palette .picker-tone-cursor,
.palette .picker-alpha-cursor {
  border-color: #5e5e5e;
}

.palette > .picker-tone > .tone-background {
  width: 100%;
  height: 100%;
}

.palette > .info {
  width: 220px;
  height: 520px;
  font-size: 16px;
}

.palette > .info > .color-disp-box {
  width: 100%;
  height: 150px;
}

.palette > .info > .color-disp-box > .color-disp-background {
  width: 100%;
  height: 100%;
}

.palette > .info > .inputs {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.palette input[type='text'] {
  width: 200px;
  height: 38px;
  margin-bottom: 2px;
  /* border-style: solid;
  border-width: 0;
  border-color: #dbdbdb; */
  border: 0px solid #dbdbdb;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  color: #383838;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.21);
  background-color:#fff;
}

.palette input[type='text'] :focus {
  box-shadow: inset 0 2px 2px rgba(0, 98, 196, 0.2);
}

.palette > .picker-alpha {
  position: relative;
  width: 520px;
  height: 50px;
  margin-top: 10px;
}

.palette .box-picker-alpha-cursor {
  position: absolute;
  width: 9px;
  height: 50px;
}

.palette .picker-alpha-cursor {
  position: absolute;
  top: -2px;
  width: 9px;
  height: 54px;
  border-style: solid;
  border-width: 2px;
  border
  -radius: 9px;
}
.palette > .picker-alpha > .alpha-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.palette > .text-example {
  padding: 20px 0 0 0;
  color: #000;
  font-size: 17px;
}

.palette .download-color-box {
  position: relative;
}

.palette .download-color-box > .button-for-layout {
  position: relative;
  width: 90%;
  margin: 15px auto 0 auto;
  /* margin-top: 15px; */
  padding: 8px 0;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  background-color: #007fff;
}

.palette .download-color-box > .button-for-layout :not(.active) :hover {
  background-color: #39f;
}

.palette .download-color-box > .button-for-layout :not(.active) :active {
  background-color: #007af5;
}

.palette .download-color-box > .button-for-layout.active {
  cursor: auto;
  padding: 5px 0 0 0;
}

.palette .download-color-box > .button-for-layout.active .label {
  display: none;
}

.palette .download-color-box > .button-for-layout > .label > span.label-text {
  position: relative;
  bottom: 4px;
  font-size: 17px;
  line-height: 0;
}

.palette .download-color-box > .button-for-layout > .label > .download-color-icon {
  position: relative;
  top: 2px;
  width: 24px;
  height: 24px;
}

.palette .download-color-box > .button-for-layout :not(.active) > .layout {
  display: none;
}

.palette .download-color-box > .button-for-layout > .layout {
  position: relative;
  width: 100%;
  padding: 9px 0;
  text-align: center;
  color: #383838;
  /* border-style: solid;
  border-width: 1px;
  border-color: #007fff; */
  border: 1px solid #007fff;
  border-radius: 0 0 3px 3px;
  background-color: #fff;
}

.palette .download-color-box > .button-for-layout > .layout > .select-format {
  width: 88%;
}

.palette .download-color-box > .button-for-layout > .layout > .inputs-box {
  margin: 5px auto 10px 10px;
  /* margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px; */
  font-size: 15px;
  line-height: 22px;
}

.palette .download-color-box > .button-for-layout > .layout > .inputs-box > .inputs-cell {
  float: left;
  width: 80px;
}

.palette .download-color-box > .button-for-layout > .layout > .inputs-box > .inputs-cell :nth-child(1) {
  margin-right: 14px;
}

.palette .download-color-box > .button-for-layout > .layout input[type='text'] {
  width: 100%;
  height: 28px;
  font-size: 17px;
}

.palette .download-color-box > .button-for-layout > .layout > .okay {
  display: block;
  width: 68%;
  padding: 6px 0;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #007fff;
}

.palette .download-color-box > .button-for-layout > .layout > .okay.disable {
  background-color: #bdbdbd;
}

.palette .download-color-box > .button-for-layout > .layout > .okay :not(.disable) :hover {
  background-color: #0d86ff;
}

.palette .download-color-box > .button-for-layout > .layout > .okay :not(.disable) :active {
  background-color: #007af5;
}

.palette .download-color-box > .button-for-layout > .layout > .cancel {
  width: 16%;
  height: 29px;
  margin: auto 4% auto 6%;
  /* margin-left: 6%;
  margin-right: 4%; */
  border-radius: 3px;
  border: 1px solid #999;
  /* border-style: solid;
  border-width: 1px;
  border-color: #999; */
  cursor: pointer;
  background-color: #fafafa;
}

.palette .download-color-box > .button-for-layout > .layout > .cancel :hover {
  background-color: #fff;
}

.palette .download-color-box > .button-for-layout > .layout > .cancel :active {
  background-color: #ededed;
}

.palette .download-color-box > .button-for-layout > .layout> .cancel > svg {
  position: relative;
  top: 5px;
}

@media screen and (max-height: 800px) {

  .center {
    width: 101.25vh;
  }

  .head .title > h1 {
    padding: 2.5vh 0 .375vh 0;
    font-size: 5.625vh;
  }

  .description p {
    font-size: 17px;
    line-height: 29px;
    color: #454545;
    padding-top: 5px;
  }

  .description p :nth-child(1) {
    padding-top: 0;
  }

  .foot {
    padding: 20px 0 15px 0;
    color: #707070;
    border-width: 1px 0 0 0;
  }

  .tool {
    padding: 1.25vh;
  }

  .palette > .picker-color,
  .palette > .picker-tone,
  .palette > .info > .color-disp-box,
  .palette > .picker-alpha {
    border-radius: .625vh;
  }

  .palette > .picker-color {
    width: 65vh;
    height: 65vh;
    margin-right: 1.25vh;
  }

  .palette > .picker-color > .color-background {
    width: 100%;
    height: 100%;
  }

  .palette > .picker-tone {
    width: 6.25vh;
    height: 65vh;
    margin-right: 1.25vh;
  }

  .palette .box-picker-tone-cursor {
    width: 6.125vh;
    height: 9px;
  }

  .palette .picker-tone-cursor {
    left: -0.25vh;
    width: 6.75vh;
    height: 9px;
  }

  .palette .box-picker-alpha-cursor {
    width: 9px;
    height: 6.125vh;
  }

  .palette .picker-alpha-cursor {
    top: -0.25vh;
    width: 9px;
    height: 6.75vh;
  }

  .palette > .info {
    width: 27.5vh;
    height: 65vh;
    font-size: 2vh;
  }

  .palette > .info > .color-disp-box {
    height: 18.75vh;
  }

  .palette > .info > .inputs {
    margin-top: 2.5vh;
  }

  .palette input[type='text'] {
    width: 25vh;
    height: 4.75vh;
    margin-bottom: .25vh;
    border-radius: .375vh;
    font-size: 2.5vh;
    box-shadow: inset 0 .125vh .25vh rgba(0, 0, 0, 0.21);
  }

  .palette input[type='text'] :focus {
    box-shadow: inset 0 .25vh .25vh rgba(0, 98, 196, 0.2);
  }

  .palette > .picker-alpha {
    width: 65vh;
    height: 6.25vh;
    margin-top: 1.25vh;
  }

  .palette > .text-example {
    padding: 1.5vh 0;
  }

  .palette .download-color-box > .button-for-layout {
    margin-top: 1.875vh;
    padding: 1vh 0;
    border-radius: .375vh;
  }

  .palette .download-color-box > .button-for-layout.active {
    padding: .625vh 0 0 0;
  }

  .palette .download-color-box > .button-for-layout > .label > span.label-text {
    bottom: .5vh;
    font-size: 2.125vh;
  }

  .palette .download-color-box > .button-for-layout > .label > .download-color-icon {
    position: relative;
    top: .25vh;
    width: 3vh;
    height: 3vh;
  }

  .palette .download-color-box > .button-for-layout > .layout {
    padding: 1.125vh 0;
    border-radius: 0 0 .375vh .375vh;
  }

  .palette .download-color-box > .button-for-layout > .layout > .select-format {
    width: 88%;
  }

  .palette .download-color-box > .button-for-layout > .layout > .inputs-box {
    /* margin-top: .625vh;
    margin-bottom: 1.25vh;
    margin-left: 1.25vh; */
    margin: .625vh auto 1.25vh 1.25vh;
    font-size: 1.875vh;
    line-height: 2.75vh;
  }

  .palette .download-color-box > .button-for-layout > .layout > .inputs-box > .inputs-cell {
    width: 10vh;
  }

  .palette .download-color-box > .button-for-layout > .layout > .inputs-box > .inputs-cell :nth-child(1) {
    margin-right: 1.75vh;
  }

  .palette .download-color-box > .button-for-layout > .layout input[type='text'] {
    height: 3.5vh;
    font-size: 2.125vh;
  }

  .palette .download-color-box > .button-for-layout > .layout > .okay {
    margin: 0 6%;
    padding: .75vh 0;
    border-radius: .375vh;
  }

  .palette .download-color-box > .button-for-layout > .layout > .cancel {
    height: 3.625vh;
  }

  .palette .download-color-box > .button-for-layout > .layout > .cancel > svg {
    top: .625vh;
  }

}

.svg {
  position: absolute;
  cursor: default;
}

.raster-stack {
  position: absolute;
}

.raster-stack > .layer {
  transition: all .1s linear 0;
  position: absolute;
  top: 0;
  left: 0;
}

.unvisible {
  transition: all .1s linear 0;
  opacity: 0;
}

.draw-cursor {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.wrap :hover .draw-cursor {
  display: block;
}
