$border-radius: 5px

*
  padding: 0
  margin: 0
  //font-family: -apple-system, arial, sans-serif
  font-family: arial, sans-serif

body
  transition: all 0.1s linear 0s
  background: white

body.night
  transition: all 0.1s linear 0s
  background: black

header.header
  grid-area: header
  h1
    font-weight: lighter
    font-size: 30pt
    color: #4d4d4d

.palette
  display: grid
  grid-template-rows: auto 70vh 45px auto auto
  grid-template-columns: 70vh 45px 28vh
  grid-template-areas: "header header header" "color-picker tone-picker info" "alpha-picker theme-switcher author" "example-text example-text example-text" "article article article"
  grid-gap: 7px
  justify-content: center

  margin: 14px auto 0
  width: 100vw

  .info
    grid-area: info
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

    //grid-template-rows: 19vh auto auto
    //grid-template-areas: "color-viewer" "inputs"
    height: 100%

    .color-preview
      grid-area: color-viewer
      overflow: hidden
      width: 100%
      height: 20vh

      border-radius: $border-radius

      background-color: rgba(255, 255, 255, 1)

    .inputs
      grid-area: inputs
      display: flex
      flex-flow: column nowrap
      align-items: center

      //margin-top: 4px

      .caption
        color: #616161
        font-size: 9pt

      label
        margin: 10px 0 2px

      input
        box-sizing: border-box
        transition: all 0.1s linear 0s

        padding: 6px 0

        text-align: center
        color: #616161
        border: white solid 1px
        border-radius: $border-radius

        width: 90%
        font-size: 14pt

        outline: none
        background: white
        &:focus
          //border: #007aff solid 1px

      .hex-wrapper
        width: 90%
        display: grid
        grid-template-columns: 20px 1fr
        grid-template-areas: "lattice hex"

        .lattice
          grid-area: lattice
          color: #616161
          font-size: 17pt
          padding-top: 10px

        input
          grid-area: hex
          width: 100%

      input, .rgb-wrapper
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15)

      .rgb-wrapper
        transition: all 0.1s linear 0s
        width: 90%
        border: white solid 1px
        border-radius: $border-radius
        background: white
        &.focus
          //border-color: #007aff

        input
          box-shadow: none
          border-color: transparent
          background: none

          width: 100%

        .line
          transition: all 0.1s linear 0s
          position: relative
          margin: 0 auto
          width: 90%
          height: 1px

          background: #d4d4d4

    .dwnld-btn
      //display: inline-block
      //margin: 7px auto
      width: 90%
      padding: 8px 0

      font-size: 13pt
      text-align: center
      color: white
      border-radius: $border-radius
      background: #007aff
      cursor: pointer
      user-select: text
      -webkit-user-select: none
      &:hover
        background: #1486ff
      &:active
        background: #0074f0

  .color-picker
    grid-area: color-picker
    position: relative
    height: 100%

    .color-picker-background
      z-index: 10
      position: absolute
      top: 0

    .cursor-svg
      z-index: 11
      overflow: visible
      position: absolute
      top: 0
      width: 100%
      height: 100%

  .tone-picker
    grid-area: tone-picker
    position: relative
    height: 100%

    .tone-picker-background
      z-index: 10
      position: absolute
      top: 0

    .cursor-svg
      z-index: 11
      overflow: visible
      position: absolute
      top: 0
      width: 100%
      height: 100%

  .alpha-picker
    grid-area: alpha-picker
    position: relative
    height: 100%

    .alpha-picker-background
      z-index: 10
      position: absolute
      top: 0

    .cursor-svg
      z-index: 11
      overflow: visible
      position: absolute
      top: 0
      height: 100%

  .transparent-fill
    transition: all 0.1s linear 0s
    fill: #DBDBDB

  .color-picker-background, .tone-picker-background, .alpha-picker-background
    overflow: hidden
    border-radius: $border-radius

    width: 100%
    height: 100%

    touch-action: none

  .tone-picker-cursor-horizontal
    display: none
  .tone-gradient-horizontal
    display: none
  .author
    grid-area: author
    text-align: center

a
  color: #00b3ff
  font-size: 12pt

  text-decoration: none
  &:hover
    color: #36c3ff
  &:active
    color: #0094d4

  a
    color: #ccc
    &:hover
      color: #fff
    &:active
      color: #aaa

.example-text
  grid-area: example-text
  font-size: 13pt
  width: 100%
  padding: 5px 0
  border: none
  &:hover
    //outline: #d1d1d6 solid 2px
    background: rgba(0, 0, 0, 0.05)
  &:focus
    outline: none
    background: none

article.article
  grid-area: article
  p
    font-size: 13pt
    color: #454545
    line-height: 22pt
    padding-top: 5px


.non-select
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none

  cursor: default


.scale-out-anim
  -webkit-transition-property: none !important
  -moz-transition-property: none !important
  -o-transition-property: none !important
  transition-property: none !important
  opacity: 0 !important


.cursor
  opacity: 0
  touch-action: none

.mobile-background
  display: none


.mobile-color-model-select
  display: none


.theme-switcher
  display: flex
  justify-content: center
  align-items: center
  grid-area: theme-switcher
  cursor: pointer
  border-radius: $border-radius
  background: rgba(0, 0, 0, 0.05)
  &.night
    background: rgba(255, 255, 255, 0.3)

  svg
    fill: #b0b0b0
    transform: rotate(22deg)

.night-switcher:hover > .box
  border-color: #919191

.night-switcher:hover .svg-sun
  fill: #919191


.night .night-switcher:hover .moon
  background: #3d3d3d

.night-switcher > .box
  transition: all 0.1s linear 0s
  position: relative
  overflow: hidden

  margin: 10px auto 0

  border-style: solid
  border-color: #616161
  border-width: 2px

  width: 50px
  height: 25px
  border-radius: 25px
  background: #fff


.svg-sun
  transition: all 0.1s linear 0s
  position: absolute
  top: 3px
  right: 3px
  height: 21px
  /*display: none*/
  fill: #616161
/*fill: black*/
/*transform: translate(4vw, 0.3vw) scale(0.16)*/


.night .svg-sun
  transition: all 0.1s linear 0s
  right: 26px
  opacity: 0
  fill: #fff
  transform: rotate(-90deg) scale(0.6)


.moon
  transition: all 0.1s linear 0s
  position: absolute
  top: 6px
  right: 7px
  width: 13px
  height: 13px
  border-radius: 13px
  background: #fff
  transform: scale(0.5)
  opacity: 0


.night .moon
  transition: all 0.1s linear 0s
  opacity: 1
  right: 31px
  transform: scale(1.2)
  background: #616161


.dark-side-of-moon
  transition: all 0.1s linear 0s
  position: absolute
  top: 4px
  left: 0
  width: 13px
  height: 13px
  border-radius: 100%
  background: white
  transform: scale(1.2)

.night .dark-side-of-moon
  background: black


.night-switcher.night .box
  transition: all 0.1s linear 0s
  background: #000
  border-color: #616161

/*.night-switcher.night > .box > .dark-side-of-moon */
/*transition: all 1s linear 0s*/
/*left: 1px*/
/*background: #000*/
/**/

/* Only mobile elements */
@media handheld and (orientation: portrait)
  .night-switcher
    display: none

  .mobile-background
    display: initial
    position: fixed
    z-index: 1

    top: 0
    left: 0
    right: 0
    bottom: 0


  .palette
    box-sizing: border-box
    position: absolute
    z-index: 2

    top: 0
    bottom: 0
    left: 0
    right: 0

    width: 100vw
    padding-left: 5vw

    margin: 0

    justify-content: flex-end
    flex-direction: column
    flex-wrap: nowrap


  .tone-gradient-horizontal
    display: initial


  .tone-gradient-vertical
    display: none


  .info
    order: 1
    display: flex
    align-items: flex-end
    width: 90vw


  .color-preview
    display: none


  .inputs
    display: grid
    grid-column-gap: 10px
    grid-template-columns: 150px 1fr
    grid-template-rows: auto
    grid-template-areas: "select input"
    align-items: flex-end
    justify-content: flex-end
    width: 100%
  /*display: flex*/
  /*flex-direction: row*/
  /*justify-content: space-between*/
  /*align-items: flex-end*/


  .inputs .caption
    display: none


  .inputs input
    grid-area: input
    display: none

    width: 100%
    height: 50px

    border-radius: 100vw

    background: white


  .hex-box, .hex-input-box
    width: auto


  .inputs input.selected
    display: initial


  select.mobile-color-model-select
    grid-area: select
    box-sizing: border-box

    display: initial

    width: 100%
    height: 50px

    padding: 0 1fr

    outline: none

    font-size: 4vw
    font-weight: bold
    color: white
    text-align-last: center
    text-align: center
    border-radius: 33vw

    background: black
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none

  .mobile-color-model-select.percentage
    width: 40vw


  .hex-input-lattice
    display: none


  .color-picker
    order: 3

    width: 90vw
    height: 90vw

    margin: 0


  .tone-picker
    order: 2
    width: 90vw
    height: 10vw

    margin: 3vw 0


  .alpha-picker
    order: 4
    width: 90vw
    height: 10vw
    margin: 3vw 0


  .tone-picker-cursor-vertical
    display: none


  .tone-picker-cursor-horizontal
    display: initial


  .example-text
    display: none


  .github
    display: none

.night
  .color-preview
    background-color: rgba(0, 0, 0, 1)

  .transparent-fill
    transition: all 0.1s linear 0s
    fill: #404040

  .palette .inputs
    input
      transition: all 0.1s linear 0s
      color: #787878
      border-color: black
      box-shadow: none
      background: #383838
      &:focus
        border-color: #424242
        background: #1f1f1f
      &::selection
        background: #949494

    .rgb-wrapper
      border-color: transparent
      box-shadow: none
      background: transparent

      input
        transition: all 0.1s linear 0s
        color: #787878
        border-color: black
        box-shadow: none
        background: #383838
        &:focus
          border-color: #424242
          background: #1f1f1f
        &::selection
          background: #949494

      &.focus
        border-color: transparent

      .line
        transition: all 0.1s linear 0s
        background: transparent
  .info
    .dwnld-btn
      color: #ccc
      background: #4f4f4f
      &:hover
        background: #545454
      &:active
        background: #2b2b2b
        color: #787878

  //.palette
  //  .author .me
  //    color: gray
  a
    color: #878787
    &:hover
      color: #a3a3a3
    &:active
      color: #6b6b6b

    a
      color: #ccc
      &:hover
        color: #fff
      &:active
        color: #aaa

  .theme-switcher
    //background: #4f4f4f
    background: transparent
    svg
      fill: #4f4f4f
    &:hover svg
      fill: #8c8c8c

  .example-text
    &:hover
      background: rgba(255, 255, 255, 0.17)